@use "../../../styles/partials/_variables.scss" as *;
@use "../../../styles/partials/_mixins.scss" as *;

.form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.form-title {
	padding-left: 1rem;
	font-weight: 600;
	font-size: 1rem;
	color: $primary-background-color-1;
	@include tablet {
		padding: 0rem 2.25rem 1rem 3rem;
		font-size: 2.5rem;
	}
	@include desktop {
		padding-left: 6rem;
		margin-bottom: 0rem;
		padding-bottom: 0rem;
	}
}
.form-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	@include tablet {
		padding: 2rem 3rem 0rem 3rem;
	}
	@include desktop {
		padding: 2rem 20rem 0rem 20rem;
	}
	&__typing {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0rem 1rem 1rem 1rem;
		&--comments {
			background-color: $alternative-background-color-1;
			border-radius: 4px;
			height: 6rem;
			resize: none;
			border: solid 1px $outline-color;
		}
		&--comments-label {
			padding-top: 1rem;
			padding-bottom: 1rem;
			align-self: flex-start;
			text-transform: uppercase;
			color: $brain-flix-silver;
			font-weight: 500;
			@include tablet {
			}
		}
		&--button {
			width: 100%;
			background-color: $brain-flix-blue;
			cursor: pointer;
			height: 2.5rem;
			color: $brain-flix-white;
			font-family: "Avenir Next";
			border-radius: 4px;
			border: none;
			background-image: url(../../../assets/images/icons/add_comment.svg);
			background-repeat: no-repeat;
			background-position: 0.5rem;
			text-transform: uppercase;
			margin-top: 1rem;
			&:hover {
				background-color: $brain-flix-darkblue;
			}

			@include tablet {
				width: 30%;
				max-width: 9.375rem;
			}
			@include desktop {
				width: 30%;
				max-width: 9.375rem;
			}
		}
	}
	&__img-container {
		@include tablet {
			width: 48px;
			height: 48px;
		}
		&--image {
			margin-top: 3rem;
			@include avatar;
			@include tablet {
				width: 48px;
				height: 48px;
				background-size: 85px;
			}
		}
	}
}
// .shows__card--label {
// 	@include tablet {
// 	}
// }
textarea {
	font-family: "Avenir Next";
	font-size: 1rem;
	padding-left: 1rem;
	padding-top: 1rem;
	outline: none;
	&:focus {
		border-color: $brain-flix-blue;
	}
}
textarea::placeholder {
	font-family: "Avenir Next";
	font-size: 1rem;
	color: $primary-background-color-1;
}

.comments-container {
	display: flex;
	flex-direction: row;
	border-radius: 4px;
	border-color: #afafaf;
	border-top: solid 2px #e1e1e1;
	justify-content: space-between;
	margin: 0rem 1rem 1rem 1rem;
	padding-top: 1rem;
	@include tablet {
		margin: 2rem 4rem 2rem 4rem;
	}
	@include desktop {
		margin: 2rem 21rem 2rem 21rem;
	}
	&__avatar {
		background-color: $outline-color;
		height: 36px;
		width: 36px;
		border-radius: 50%;
		display: inline-block;
		@include tablet {
			height: 48px;
			width: 48px;
		}
	}
	&__all-text {
		width: 85%;
		@include tablet {
			width: 88%;
		}
	}
	&__text {
		&--name {
			display: flex;
			flex-direction: row;
		}
		&--name-label {
			color: $primary-background-color-1;
			font-weight: 600;
		}
		&--time {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		&--time-label {
			color: #afafaf;
			font-weight: 400;
		}
	}
}
