@use "./variables" as *;

@mixin button {
	width: 100%;
	background-color: $brain-flix-blue;
	cursor: pointer;
	height: 2.5rem;
	color: $brain-flix-white;
	font-family: "Avenir Next Pro Lt";
	border-radius: 4px;
	border: none;
	background-image: url(../../assets/images/icons/upload.svg);
	background-repeat: no-repeat;
	background-position: 0.5rem;
	text-transform: uppercase;
	&:hover {
		background-color: $brain-flix-darkblue;
	}
}
@mixin logo {
	background-image: url(../../assets/images/logo/BrainFlix-logo.svg);
}
@mixin tablet {
	@media (min-width: 768px) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: 1280px) {
		@content;
	}
}
@mixin avatar {
	background-image: url(../../../assets/images/Mohan-muruge.jpg);
	background-size: 60px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-repeat: no-repeat;
	margin-left: 1rem;
	background-position-x: 25%;
	background-position-y: 50%;
}
