@use "./variables" as *;

@mixin button {
	width: 90%;
	background-color: $brain-flix-blue;
	cursor: pointer;
	height: 2.5rem;
	color: $brain-flix-white;
	font-family: "Avenir Next Pro Lt";
	border-radius: 4px;
	border: none;
	background-image: url(../../assets/images/icons/upload.svg);
	background-repeat: no-repeat;
	background-position: 0.5rem;

	&:hover {
		background-color: $brain-flix-darkblue;
	}
}
@mixin logo {
	background-image: url(../../assets/images/logo/BrainFlix-logo.svg);
}
