$brain-flix-blue: #0095ff;
$brain-flix-white: #ffffff;
$brain-flix-darkblue: #0065ad;
$brain-flix-black: #323232;
$brain-flix-darkblack: #000000;
$brain-flix-silver: #afafaf;
$brain-flix-mercury: #e1e1e1;
$brain-flix-alabaster: #fafafa;

$primary-background-color-1: #323232;
$primary-background-color-2: #000000;
$primary-text-color-1: #ffffff;
$primary-text-color-2: #afafaf;
$alternative-background-color-1: #fafafa;
$outline-color: #e1e1e1;
