$brain-flix-blue: #0095ff;
$brain-flix-white: #ffffff;
$brain-flix-darkblue: #0065ad;
$brain-flix-black: #323232;
$brain-flix-darkblack: #000000;
$brain-flix-silver: #afafaf;
$brain-flix-mercury: #e1e1e1;
$brain-flix-alabaster: #fafafa;
