@use "../../../styles/partials/_variables.scss" as *;
@use "../../../styles/partials/_mixins.scss" as *;
@use "../../../styles/partials/fonts" as *;

.comments-container {
	display: flex;
	flex-direction: row;
	border-radius: 4px;
	border-color: #afafaf;
	border-top: solid 2px #e1e1e1;
	justify-content: space-between;
	margin: 0rem 1rem 1rem 1rem;
	padding-top: 1rem;
	@include tablet {
		margin: 2rem 3rem 2rem 3rem;
	}
	@include desktop {
		margin: 2rem 0rem 2rem 5rem;
	}
	&__avatar {
		background-color: $outline-color;
		height: 36px;
		width: 36px;
		border-radius: 50%;
		display: inline-block;
		&--greyed {
			margin-top: 1rem;
		}
		@include tablet {
			height: 48px;
			width: 48px;
		}
	}
	&__all-text {
		width: 85%;
		@include tablet {
			width: 88%;
		}
	}
	&__text {
		&--name {
			display: flex;
			flex-direction: row;
		}
		&--name-label {
			color: $primary-background-color-1;
			font-weight: 600;
		}
		&--time {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		&--time-label {
			color: #afafaf;
			font-weight: 400;
		}
	}
}
