@use "../../../styles/partials/_variables.scss" as *;
@use "../../../styles/partials/_mixins.scss" as *;
@use "../../../styles/partials/fonts" as *;

.form-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	@include tablet {
		padding: 2rem 3rem 0rem 3rem;
	}
	@include desktop {
		padding: 2rem 20rem 0rem 20rem;
	}
	&__typing {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 0rem 1rem 1rem 3rem;
		&--name {
			border-radius: 4px;
			border: solid 1px $outline-color;
			height: 3rem;
			background-color: #fafafa;
		}
		&--name-label {
			padding-bottom: 1rem;
		}
		&--comments {
			background-color: $alternative-background-color-1;
			border-radius: 4px;
			height: 6rem;
			resize: none;
			border: solid 1px $outline-color;
		}
		&--comments-label {
			padding-top: 1rem;
			padding-bottom: 1rem;
			align-self: flex-start;
			@include tablet {
			}
		}
		&--button {
			margin-top: 1rem;
			height: 2rem;
			text-transform: uppercase;
			background-color: $primary-background-color-1;
			border-radius: 4px;
			color: $primary-text-color-1;
			width: 100%;
			align-self: end;
			cursor: pointer;
			&:hover {
				background-color: $primary-background-color-2;
			}
			@include tablet {
				width: 30%;
				max-width: 9.375rem;
			}
			@include desktop {
				width: 30%;
				max-width: 9.375rem;
			}
		}
	}
	&__img-container {
		width: 36px;
		height: 36px;
		@include tablet {
			width: 48px;
			height: 48px;
		}
		&--image {
			background-image: url(../../../assets/images/Mohan-muruge.jpg);
			background-size: 56px;
			height: 36px;
			width: 36px;
			border-radius: 50%;
			background-repeat: no-repeat;
			margin: 1rem;
			background-position-x: 25%;
			background-position-y: 50%;
			@include tablet {
				width: 48px;
				height: 48px;
				background-size: 85px;
			}
		}
	}
}
