@use "../../../styles/partials/_variables.scss" as *;
@use "../../../styles/partials/_mixins.scss" as *;

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 1rem, 1rem, 1rem, 1rem;
	@include tablet {
		flex-direction: row;
		margin-left: 2.25rem;
		margin-right: 2.25rem;
		margin-bottom: 1rem;
		@include desktop {
			margin-left: 5rem;
			margin-right: 5rem;
		}
	}
	&__search-container {
		display: flex;
		flex-direction: row;
		margin: 1rem;
		width: 90%;
		justify-content: space-between;
		margin-top: 0rem;
		@include tablet {
			display: block;
			margin-top: 1rem;
		}
	}
	&__img-container {
		&--image {
			@include avatar;
			@include tablet {
				display: none;
			}
		}
	}
	&__img-container--image-tablet {
		@include tablet {
			@include avatar;
			width: 40px;
		}
	}
	&__button {
		@include button;
	}
	&__logo {
		margin: 1rem;
		@include tablet {
			margin-right: 8rem;
		}
		@include desktop {
			margin-right: 35rem;
		}
	}
}
input {
	background-image: url(../../../assets/images/icons/search.svg);
	background-repeat: no-repeat;
	height: 40px;
	width: 240px;
	width: 100%;
	border-radius: 0.5rem;
	box-sizing: border-box;
	background-repeat: no-repeat;
	padding-left: 2rem;
	background-size: 1.5rem;
	background-position: (0.5rem 0.5rem);
	font-size: 1rem;
	border-color: $brain-flix-mercury;
	border-style: solid;
	background-color: $brain-flix-alabaster;
	outline: none;
	&:focus {
		border-color: $brain-flix-blue;
	}
}
input::placeholder {
	padding-left: 0.25rem;
	font-family: "Avenir Next Pro Lt";
}
