@use "../../../styles/partials/_variables.scss" as *;
@use "../../../styles/partials/_mixins.scss" as *;

a {
	text-decoration: none;
	color: $brain-flix-black;
}
.video-container {
	margin: 0rem 1rem 1rem 1rem;
	margin-bottom: 2rem;
	border-top: solid 2px #e1e1e1;
	@include tablet {
		margin: 0rem 3rem 2rem 3rem;
	}
	@include desktop {
		margin: 0rem 0rem 0rem 2rem;
		border: none;
		padding-right: 0rem;
	}
	&__hidden {
		display: none;
	}
	&__card {
		display: flex;
		flex-direction: row;
		margin-bottom: 1rem;
		&:hover {
			cursor: pointer;
		}
		&--text {
			display: flex;
			flex-direction: column;
		}
		&--text-title {
			margin-top: 0rem;
			font-weight: 700;
		}
		&--text-paragraph {
			margin-top: 0rem;
		}
	}

	&__title {
		padding-top: 1rem;
		align-self: flex-start;
		text-transform: uppercase;
		color: #afafaf;
		font-weight: 400;
	}
}

.image {
	aspect-ratio: 16 /9;
	object-fit: cover;
	height: 90px;
	margin-right: 1rem;
	background-color: $brain-flix-mercury;
	border-radius: 4px;
}
