@use "./styles/partials/_fonts.scss";
@use "./styles/partials/_variables.scss" as *;
@use "./styles/partials/_mixins.scss" as *;

*,
*::before,
*::after {
	font-family: "Avenir Next", Georgia, "Times New Roman", Times, serif;
}
html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 100%;
}
body {
	width: 100%;
	margin: auto;
	color: $brain-flix-black;
	line-height: 1.375rem;
}
p {
	line-height: 1.5rem;
}
.main {
	display: flex;
	flex-direction: column;
	@include desktop {
		flex-direction: row;
		justify-content: space-around;
		&__comments {
			border-right: solid 2px $outline-color;
			width: 100%;
		}
	}
}
