@use "../src/styles/partials/_fonts.scss";

html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 100%;
}
body {
	width: 100%;
	padding: 0;
	margin: 0;
	margin: auto;
	font-family: "Avenir Next Pro Lt", Georgia, "Times New Roman", Times, serif;
}
